# Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=npc_admin
DB_PASSWORD=
DB_NAME=npc_knowledge


# Cloud Model (Groq / LiteLLM)
GROQ_API_KEY=

# Local Model (HugginFace / vLLM)
HF_TOKEN=


REDIS_URL=redis://npc_redis:6379/0